<%= form_for(@case_thread) do |f| %>
  <% if @case_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_thread.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @case_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>

    <%= f.fields_for :posts do |posts_form| %>
        <%= posts_form.label :posttext %>
        <%= posts_form.text_field :posttext %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
