<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post.each do | post | %>
      <tr>
        <td><%= post.posttext %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', case_thread_post_path(post.case_thread, post) %></td>
        <td><%= link_to 'Edit', edit_case_thread_post_path(post.case_thread, post) %></td>
        <td><%= link_to 'Destroy', case_thread_post_path(post.case_thread, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_thread_post_path %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
